.Section{
 background-color: rgb(230,230,230);
 height: 150vh;
}
@media(min-width: 768px){
  .Section{
    height: 110vh;
   }
}
@media(min-width: 992px){
  .Section{
    height: 90vh;
   }
}



.Background{
 background-image: url('../../Assets/Images/hero2-background.jpg');
 background-size: cover;
 height: 50vh;
 background-position: bottom;
 background-attachment: fixed;

}

.Image img{
  height: 100%;
  width: 100%;
}

.Content h2{
  font-weight: bold;
  color: #3C3C3C;
  text-align: left;
}

.Content p{
 color: grey;
 text-align: left;
}

.Content hr{
 border: none;
 height: 2px;
 background: linear-gradient(to right, #007bff 20%, #d2d2d2 20%);
}

/* =========== hover link shy -=============== */

.Buttons{
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.Buttons a{
  background: linear-gradient(to right, #3C3C3C, rgb(32, 32, 32));
  width: 130px;
  height: 50px;
  margin: 0 3px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Buttons a::before{
  content: "";
  height: 160%;
  width: 100px;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%,transparent 50%);
  position: absolute;
  transform: translateX(-130px) rotate(20deg);
  top: -10px;
  transition: 0.5s;
}

.Buttons a:hover::before{
  transform:translateX(130px) rotate(20deg);
}

.Buttons a{
  color: white;
  text-decoration: none;
}