.SideDrawer{
    height:100vh;
    background-color: white;
    width: 80%;
    position: fixed;
    transition: 0.6s ease-in-out;
    box-shadow: 3px 0 3px -1px rgba(0,0,0,0.3);
    z-index: 200;
}

@media(min-width: 500px){
    .SideDrawer{
        width: 60%;
    }
}

@media(min-width: 768px){
    .SideDrawer{
        display:none;
    }
}