#navIcon1{
    width:38px;
    height: 30px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 100;
  }


  #navIcon1 span{
    display: block;
    position: absolute;
    height: 4px;
    border-radius: 1px;
    width: 100%;
    background: white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .3s ease-in-out;
  }

  #navIcon1 span:nth-child(1) {
    top: 0px;
  }
  
  #navIcon1 span:nth-child(2) {
    top: 13px;
  }

  #navIcon1 span:nth-child(3) {
    top: 26px;
  }

   #navIcon1.open span:nth-child(1) {
    top: 13px;
    transform: rotate(135deg);
    background: #007bff;
  }
  
   #navIcon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #navIcon1.open span:nth-child(3) {
    top: 13px;
    transform: rotate(-135deg);
    background: #007bff;
  }

@media (min-width: 768px) {
    #navIcon1 {
        display: none;
    }
    
}