

.Carousal{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

/* @media(min-width: 992px){
  .Carousal{
    height: 65vh;
  }
} */

.Item{
  cursor: pointer;
  margin-bottom: 10px;
  padding: 0 5px;
}

.Item img{
  max-width: 100%;
  height: auto;

}