@font-face {
 font-family: tribal;
 src: url(../../../../Assets/Fonts/TRIBTWO_.ttf);
}

.LogoHeader h3{
 font-family: "tribal", 'Open Sans';
 color:white;
 margin:0;
 font-size: 2em;
 margin-bottom: 8px;
 text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}