.ResponsiveNav{
    height: 60px;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    background-color: white;
    box-shadow: 0 2px 6px -2px grey;
    position: fixed;
    transition: 0.3s;
}

.ResponsiveNav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    margin:0;
    padding:0;
    width: 50%;
}

.ResponsiveNav a{
    color: black;
}
