.ResponsiveNav{
    height: 60px;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    background-color: white;
    box-shadow: 0 2px 6px -2px grey;
    position: fixed;
    transition: 0.3s;
}

